<h1>EDIT BOOK</h1>
<%= button_to 'Remove', book_path(@book), method: 'delete', data: { confirm: 'Are you sure?' } %>

<%= form_with model: @book do |form| %>
  <%= form.text_field :title, placeholder: "title" %>
  <%= form.text_field :author, placeholder: "author" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.text_field :published_date, placeholder: "published date" %>
  <%= form.submit %>
<% end %>