<div class="sidenav">
  <div class="nav_title">
    <h2>My <span>Book</span></h2>
    <h1>Shelf</h1>
  </div>
  <ul class="main-nav">
    <li>
      <%= link_to books_path do %>
        <%= image_tag "home.png", alt: "Home icon", class: "nav-icon" %> Home
      <% end %>
    </li>
    <li>
      <%= link_to 'javascript:void(0);', class: "myButtonClass" do %>
        <%= image_tag "search.png", alt: "search icon", class: "nav-icon" %> Search
      <% end %>
    </li>
    <li>
      <%= link_to 'javascript:void(0);', class: "myButtonClass" do %>
        <%= image_tag "book.png", alt: "book icon", class: "nav-icon" %> My Shelf
      <% end %>
    </li>
    <li>
      <%= link_to new_book_path do %>
        <%= image_tag "new.png", alt: "new icon", class: "nav-icon" %> New Book
      <% end %>
    </li>
  </ul>
  <ul class="secondary-nav">
    <li><%= link_to "About", books_path, class: "myButtonClass" %></li>
    <li><%= link_to "Support", books_path, class: "myButtonClass" %></li>
    <li><%= link_to "Terms & Conditions", books_path, class: "myButtonClass" %></li>
  </ul>
</div>
