<!DOCTYPE html>
<html>
  <head>
    <title>BookColletion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
    </style>
  </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <body class="border-inner-rounded">
    <%# <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
